<footer class="footer">
  <div class="container">
    <p>&copy; <%= theme.since || '2026' %><% if (date(new Date(), 'YYYY') > (theme.since || '2026')) { %>-<%= date(new Date(), 'YYYY') %><% } %> <%= config.author %>. Powered by <a href="https://hexo.io" target="_blank">Hexo</a>.</p>
  </div>
</footer>
